@page
@    using FoodService.ViewModel
@model ErrorViewModel


<h1 class="text-danger">Erro</h1>
<h2 class="text-danger">Ocorreu um erro ao processar sua solicitação.</h2>

<p>
    <strong>Modo de Desenvolvimento</strong>
</p>
<p>
    A troca para o <strong>Ambiente de Desenvolvimento</strong> exibe informações detalhadas sobre o erro que ocorreu.
</p>
<p>
    <strong>O ambiente de Desenvolvimento não deve ser habilitado para aplicativos implantados.</strong>
    Isso pode resultar na exibição de informações sensíveis das exceções para os usuários finais.
    Para depuração local, habilite o <strong>Ambiente de Desenvolvimento</strong> definindo a variável de ambiente <strong>ASPNETCORE_ENVIRONMENT</strong> para <strong>Development</strong>
    e reinicie o aplicativo.
</p>
