@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        @_localization.Getkey("Welcome")
    </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"> Localization </button>
        <ul class="dropdown-menu">
            <li>
                <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en" class="dropdown-item">
                    <i class="flag-icon flag-icon-gb"></i> English
                </a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="pt-BR" class="dropdown-item">
                    <i class="flag-icon flag-icon-gb"></i> Portugues Brasil
                </a>
            </li>
        </ul>
    </div>
</div>
